.HomePageSkill{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #F5F5F5;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin-bottom: 10dvh;

    .HomePageSkillTitle{
        overflow: hidden;
        width: 86%;
        display: flex;

        align-items: flex-end;
        height: 15dvh;
        position: relative;
        padding: 0;
        margin: 0;
        font-family: "Noto Serif TC";
        font-size: 30px;
        font-style: normal;
        font-weight:500;

        letter-spacing: 24.84px;


    }
    .skillBox{
        position: relative;
        width: 86%;
        height: 30dvh;
        display: flex;

        margin: 2% 0 2% 0;
        @media(max-width: 576px){
            flex-direction:column;
            width: 86%;
            height: 55dvh;

        }
        .skillTitle{
            width: 60%;
            height: 100%;
            /* background-color: rgb(186, 135, 69); */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            @media(max-width: 576px){
                justify-content: center;
                align-items: flex-start;
                
                /* width: 100%; */
                
            }

            p{
                margin: 0;

                color: #000;

                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 147%; /* 29.583px */
                letter-spacing: 1px;
                @media(max-width: 768px){
                        font-size: 12px;
                }
            }
        }
        .codingSkillBox{
            width: 20%;
            height: 100%;
            /* background-color: aqua; */
            margin-right: 0%;
            @media(max-width: 992px){
                width: 30%;
            }
            @media(max-width: 768px){
                width: 42%;
            }
            @media(max-width: 576px){
                width: 100%;
               
            }
            .codingSkillTitle{
                width: 100%;
                height:45%;
                display: flex;
                flex-direction: column;
                justify-content:  center;
                align-items: flex-end;
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:45%;
                    justify-content:  flex-start;
                   
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    color: #000;

                    font-family: "Noto Sans TC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;
                    @media(max-width: 992px){
                        font-size: 14px;
                    }
                }
            }
            .codingSkillContent{
                
                width: 100%;
                height:55% ;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                /* background-color: antiquewhite; */
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:55%;
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;

                    @media(max-width: 992px){
                        font-size: 12px;
                    }
                    @media(max-width: 576px){
                        font-size: 10px;
                    }
                    
                }
            }
        }
        .softSkillBox{
            width: 20%;
            height: 100%;
            
            @media(max-width: 992px){
                width: 30%;
            }
            @media(max-width: 768px){
                width: 42%;
            }
            @media(max-width: 575px){
                width: 60%;
            }
            .softSkillTitle{
                width: 100%;
                height:45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:45%;
                    justify-content:  flex-start;
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;
                    
                    @media(max-width: 992px){
                        font-size: 14px;
                    }
                }

            }
            .softSkillContent{
                width: 100%;
                height:55% ;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                /* background-color: antiquewhite; */
                margin: 0;
                padding: 0;
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;
                    @media(max-width: 992px){
                        font-size: 12px;
                    }
                    @media(max-width: 576px){
                        font-size: 10px;
                    }
                }

            }
        }
    }
    .EducationBox{
        position: relative;
        width: 86%;
        height: 30dvh;
        display: flex;
        margin: 2% 0 2% 0;
        @media(max-width: 576px){
            flex-direction:column;
            width: 86%;
            height: 55dvh;

        }
        .EducationTitle{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            @media(max-width: 576px){
                justify-content: center;
                align-items: flex-start;
                
                /* width: 100%; */
                
            }
            p{
                margin: 0;

                color: #000;

                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 147%; /* 29.583px */
                letter-spacing: 1px;
                @media(max-width: 768px){
                        font-size: 12px;
                }
                
            }
        }
        .heightSchooldegreeBox{
            width: 20%;
            height: 100%;
            @media(max-width: 992px){
                width: 30%;
            }
            @media(max-width: 768px){
                width: 42%;
            }
            @media(max-width: 576px){
                width: 100%;
                height: 60%;
            }
            .heightSchooldegreeTitle{
                width: 100%;
                height:45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:45%;
                    justify-content:  flex-start;
                   
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    color: #000;

                    font-family: "Noto Sans TC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;
                    @media(max-width: 992px){
                        font-size: 14px;
                    }
                    
                }
            }
            .heightSchooldegreeContent{
                width: 100%;
                height:55% ;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                /* background-color: antiquewhite; */
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:55%;
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;

                    @media(max-width: 992px){
                        font-size: 12px;
                    }
                    
                }
            }
        }
        .universitydegreeBox{
            width: 20%;
            height: 100%;

            @media(max-width: 992px){
                width: 30%;
            }
            @media(max-width: 768px){
                width: 42%;
            }
            @media(max-width: 575px){
                width: 60%;
            }
            @media(max-width: 576px){
                margin-top: 20%;
                width: 60%;
                height: 60%;
            }
            .universitydegreeTitle{
                width: 100%;
                height:45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                margin: 0;
                padding: 0;
                @media(max-width: 576px){
                    height:45%;
                    justify-content:  flex-start;
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;
                    @media(max-width: 992px){
                        font-size: 14px;
                    }
                }

            }
            .universitydegreeContent{
                width: 100%;
                height:55% ;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                /* background-color: antiquewhite; */
                margin: 0;
                padding: 0;
                p{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 0;
                    padding: 0;

                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 147%; /* 29.583px */
                    letter-spacing: 1px;

                    @media(max-width: 992px){
                        font-size: 12px;
                    }
                }

            }
        }
    }

}