.MainworkTwoBox {
  position: relative;
  width: 100%;
  /* height: 100dvh; */
  overflow: hidden;
  margin-bottom: 15dvh;
}
@media (max-width: 992px) {
  .MainworkTwoBox {
    margin-bottom: 10dvh;
  }
}
@media (max-width: 768px) {
  .MainworkTwoBox {
    margin-bottom: 5dvh;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox {
    margin-bottom: 0dvh;
    /* height: 50dvh; */
  }
}
.MainworkTwoBox .MainWork {
  position: relative;
  width: 100%;
  /* height: 100dvh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainworkTwoBox .MainWork .MainWorkVideoBox {
  position: relative;
  width: 86%;
  height: 35dvw;
  overflow: hidden;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkVideoBox {
    border-radius: 15px;
  }
}
.MainworkTwoBox .MainWork .MainWorkVideoBox .MainWorkVideoMore {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3%;
  bottom: 5%;
  z-index: 5;
  color: rgba(255, 255, 255, 0.8039215686);
  margin: 0;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 190%; /* 38px */
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.6274509804);
  /* padding: 2px 20px 2px 20px; */
  height: 80px;
  width: 80px;
  border-radius: 100%;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .MainworkTwoBox .MainWork .MainWorkVideoBox .MainWorkVideoMore {
    font-size: 14px;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkVideoBox .MainWorkVideoMore {
    font-size: 10px;
    height: 50px;
    width: 50px;
  }
}
.MainworkTwoBox .MainWork .MainWorkVideoBox .MainWorkVideoMore:hover + video {
  transform: scale(1.05);
  filter: grayscale(0%);
}
.MainworkTwoBox .MainWork .MainWorkVideoBox video {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 25px;
  bottom: 32%;
  background-position: bottom bottom;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50px;
  filter: grayscale(95%);
  transform: scale(1);
  transition: all 1s ease-in-out;
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkVideoBox video {
    border-radius: 15px;
  }
}
.MainworkTwoBox .MainWork .MainWorkVideoBox video:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}
.MainworkTwoBox .MainWork .MainWorkVideoBox:hover .MainWorkVideoMore {
  opacity: 1;
}
.MainworkTwoBox .MainWork .MainWorkContent {
  width: 100%;
  height: 20dvh;
  position: relative;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3dvh 0dvh 3dvh 0dvh;
}
@media (max-width: 768px) {
  .MainworkTwoBox .MainWork .MainWorkContent {
    height: 20dvh;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkContent {
    height: 24dvh;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0%;
  }
}
@media (max-width: 376px) {
  .MainworkTwoBox .MainWork .MainWorkContent {
    height: 30dvh;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0%;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 7%;
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox {
    width: 100%;
    height: 20%;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleMain {
  font-family: "Noto Sans SC";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 67.2px */
  letter-spacing: 7.68px;
  margin: 0%;
}
@media (max-width: 992px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleMain {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleMain {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleMain {
    font-size: 32px;
  }
}
@media (max-width: 376px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleMain {
    font-size: 20px;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleSub {
  margin: 0%;
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%; /* 38px */
  letter-spacing: 3.2px;
}
@media (max-width: 992px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleSub {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleSub {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleSub {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkTitleBox .MainworkTitleSub {
    font-size: 10px;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox {
  position: relative;
  right: 7%;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox {
    width: 30%;
  }
}
@media (max-width: 576px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox {
    width: 86%;
    height: 40%;
    right: 0%;
    left: 0%;
  }
}
@media (max-width: 376px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox {
    width: 86%;
    height: 40%;
    right: 0%;
    left: 0%;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox .MainworkConcept {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Noto Serif TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%; /* 60.8px */
  letter-spacing: 11.2px;
}
@media (max-width: 992px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox .MainworkConcept {
    font-size: 16px;
  }
}
.MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox .MainworkConceptContent {
  margin: 0;
  color: #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%; /* 30.4px */
  letter-spacing: 1.2px;
}
@media (max-width: 992px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox .MainworkConceptContent {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .MainworkTwoBox .MainWork .MainWorkContent .MainworkConceptBox .MainworkConceptContent {
    font-size: 8px;
  }
}/*# sourceMappingURL=mainWorks.css.map */