.phselectList_handle {
  display: flex !important;
  opacity: 1 !important;
  transform: scaleY(1) !important;
}
.photoSelectBox {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:10% 0% 10% 0% ; */
  overflow: hidden;
  #checkPhoto {
    opacity: 0;
    &:checked + .phselect {
      .phselectList {
        /* display: flex;
                opacity: 1;
                transform: scaleY(1); */
      }
      #selectText {
        &::before {
          left: 110px;
        }
        &::after {
          left: 110px;
        }
      }
    }
  }

  .phselect {
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin: 2% 0% 2% 0%;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px rgb(46, 46, 46) solid;
    /* padding: 5px 0px 5px 0px; */

    p {
      margin: 0;
      padding: 0;
      font-family: "Noto Serif TC";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 190%; /* 38px */
      letter-spacing: 15px;
      padding-left: 15px;
    }
    #selectText {
      position: relative;

      top: 0;

      &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 1.5px;
        background-color: rgb(46, 46, 46);
        top: 8px;
        left: 115.5px;
        transform: rotate(45deg);
        transition: 0.5s ease-in-out;
      }
      &::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 1.5px;
        background-color: rgb(46, 46, 46);
        top: 8px;
        left: 104.5px;
        transform: rotate(-45deg);
        transition: 0.5s ease-in-out;
      }
    }

    .selectText {
    }
    .phselectList {
      background-color: #f5f5f5;
      position: absolute;
      top: 38px;
      /* height: 200px; */
      z-index: 2;
      /* margin:2% 0% 2% 0% ; */
      width: 200px;
      height: 40px;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      border: 1px rgb(46, 46, 46) solid;
      border-top: none;
      /* padding: 5px 0px 10px 0px; */
      /* display: none; */

      opacity: 0;
      transform: scaleY(0);
      transform-origin: top center;
      transition: 0.5s ease-in-out;

      .selectListOne {
        position: relative;
      }
      .selectListTwo {
      }
    }

    &:hover {
    }
  }
}

.worksChildPhotoBox {
  /* margin-top: 10%; */
  position: relative;
  /* margin-bottom: 10%; */
  width: 100%;
  height: auto;
  /* height: 70dvh; */
  display: flex;
  justify-content: center;

  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: 0%;
    margin-bottom: 10%;
    align-items: flex-start;
  }
  /* @media(max-width: 576px){
        margin: 0% 0% 0% 0%;
        justify-content: flex-start; 
        align-items: flex-start;
    } */
  img {
    display: flex;
    align-items: flex-start;
    width: 900px;
    height: auto;
    /* object-fit: cover; */
    @media (max-width: 992px) {
      width: 80%;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  .worksChildPhotoV {
    width: auto;
    height: 90dvh;
    @media (max-width: 768px) {
      width: 80%;
      height: auto;
    }
  }
}

.worksChildPhotoBox + .worksChildPhotoBox {
  margin-top: 15%;
  margin-bottom: 15%;
}

.scrollTopBtn{
  cursor: pointer;
  content: '';
  position: fixed;
  height: 70px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.367);
  right: 7%;
  bottom: 5%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
  svg{
    width: 50%;
    path{
      fill: rgba(255, 255, 255, 0.704);
    }
  }
  &:hover{
    background-color: #f5f5f5;
    svg{
      animation:scrollBtnAnimate 1.2s ease-in-out 0s infinite;
      path{
        fill: rgba(0, 0, 0, 0.579);
        
      }
    }
  }

  
  // &::before{
  //   position: absolute;
  //   content: '';
  //   background-color: rgba(255, 255, 255, 0.492);
  //   height: 3px;
  //   width: 25px;
  //   rotate: -45deg;
  //   top: 46%;
  //   left: 24%;
  //   border-radius: 120px;

  // }
  // &::after{
  //   position: absolute;
  //   content: '';
  //   background-color:rgba(255, 255, 255, 0.492);
  //   height: 3px;
  //   width: 25px;
  //   rotate: 45deg;
  //   top: 46%;
  //   right: 24%;
  //   border-radius: 120px;

  // }

}

@keyframes scrollBtnAnimate{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-20px);
  }
}