.workschildTextFlexBox {
  position: relative;
  width: 100%;
  height: 50dvh;
  display: flex;
  justify-content: center;
  margin: 7% 0% 2% 0%;
}
@media (max-width: 768px) {
  .workschildTextFlexBox {
    margin: 0% 0% 2% 0%;
    height: 100dvh;
  }
}
.workschildTextFlexBox .workschildTextBox {
  width: 800px; /* */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin: -20px 10% 0% 0%;
  /* background: aqua; */
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildTitleBox {
    width: 80%;
    height: 40%;
    order: 0;
    margin: 0px 0% 0% 0%;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleEnBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleEnBox {
    align-items: flex-end;
    justify-content: center;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleEnBox .workschildTitle {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.917%; /* 47.333px */
  letter-spacing: 1.6px;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleEnBox .workschildSubTitle {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.917%; /* 29.583px */
  letter-spacing: 1px;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox {
    align-items: flex-start;
    justify-content: center;
    margin-top: 20dvh;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox .workschildTitleChi {
  padding: 0;
  margin: 20px 0px 0px 0px;
  color: #000;
  font-family: "Noto Serif TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%; /* 68.4px */
  letter-spacing: 2rem;
  writing-mode: vertical-rl;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox .workschildTitleChi {
    margin: 0px 0px 0px 0px;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox .workschildSubTitleChi {
  position: relative;
  padding: 0;
  margin: 0;
  color: #000;
  margin-top: 21px;
  margin-left: 0px;
  font-family: "Noto Serif TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.917%; /* 29.583px */
  letter-spacing: 8px;
  writing-mode: vertical-rl;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildTitleChiBox .workschildSubTitleChi {
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-left: 0px;
    left: 10px;
  }
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype {
  position: relative;
  text-decoration: none;
  color: #a9a9a9;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.917%; /* 29.583px */
  letter-spacing: 1px;
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 2px;
  background-color: #000;
  bottom: -1px;
  right: -5px;
  transition: 0.5s ease-in-out;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background-color: #000;
  bottom: -5px;
  right: 0px;
  transition: 0.5s ease-in-out;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype:hover {
  color: #000;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype:hover.worksChildptototype::before {
  bottom: -10px;
}
.workschildTextFlexBox .workschildTextBox .worksChildTitleBox .worksChildptototype:hover.worksChildptototype::after {
  right: -10px;
}
.workschildTextFlexBox .workschildTextBox .worksChildContentText {
  padding: 0;
  margin: 0;
  width: 70%;
  height: 70%;
  writing-mode: vertical-rl;
  display: flex;
  order: 0;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0% 0% 0% 10%;
  color: #000;
  font-family: "Noto Serif TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%; /* 30.4px */
  letter-spacing: 0.2rem;
}
@media (max-width: 768px) {
  .workschildTextFlexBox .workschildTextBox .worksChildContentText {
    width: 60%;
    height: 70%;
    justify-content: flex-start;
    align-items: center;
    writing-mode: horizontal-tb;
    justify-content: flex-end;
    order: 1;
    font-size: 14px;
    margin: 0% 0% 0% 0%;
  }
}/*# sourceMappingURL=worksInnerText.css.map */